*.exe
*.exe~
*.dll
*.so
*.dylib
*.log

*.test

*.out

/vendor/
/Godeps/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.history

.DS_Store
.DS_Store? 

config.yml

.gitconfig

.env

.idea/

.vscode

/dist/

pg_data